# Configuración de GCP
GCP_PROJECT_ID=tu-proyecto-id-gcp
GCP_REGION=us-central1
GCP_ARTIFACT_REPO=gcp-class-repo

# Configuración de Git
GIT_USER_NAME="Nombre del Estudiante"
GIT_USER_EMAIL="correo@estudiante.edu"
